<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="to-do-list.html">

<dom-module id="to-do-list-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
    <to-do-list></to-do-list>
  </template>

  <script>
    Polymer({

      is: 'to-do-list-app',

      properties: {
        prop1: {
          type: String,
          value: 'to-do-list-app',
        },
      },

    });
  </script>
</dom-module>
