<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module name="to-do-list">

    <template>
        <style>
            :host {

            }

            .input_field {
                display: inline-block;

            }



        </style>



            <paper-input class="input_field" label="Type something..." value="{{myValue::input}}" id="paper_input"></paper-input>
            <paper-button on-click="addNewItem" id="add_button">Add new task</paper-button>
            <div>
                <template is="dom-repeat" id="menu" items="{{menuItems}}">
                    <p>
                        <label>
                            <paper-checkbox>{{item}}</paper-checkbox>
                        </label>
                        <paper-button on-click="deleteItem" id="delete_button"> X </paper-button>
                    </p>
                </template>
            </div>

    </template>

    <script>

        Polymer({

            is:'to-do-list',
            properties: {
                menuItems: {
                    type: Array,
                    notify: true
                },
                myValue:{
                    type: String,
                    notify: true
                }
            },
            ready: function() {
                this.menuItems = [
                    "Pizza" ,
                    "Pasta" ,
                    "Toast"
                ];
            },
            addNewItem: function(){
                this.push("menuItems", this.myValue);
            },
            deleteItem: function(e){
                var model = e.model;
                this.splice("menuItems", model.__data__.index, 1);

            }

        });


    </script>

</dom-module>